/* Base Styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #363430;
    position: relative;
    overflow: hidden;
    position: relative; 
}


h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    color: white;
  }

  /* Main Overlay */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay.hidden {
    display: none;
}

#pageFooter.hidden {
    display: none;
}

.overlayHeader {
    font-size: 80px;
}

button {
    padding: 15px;
    border-radius: 5px;
    width: 10%;
    font-size: 1.1em;

    transition: opacity .3s ease;
}

button.btn_reset {
    margin-bottom: 30px;
}

button:hover {
    opacity: 0.8;
}

#overlay.dim {
    filter: brightness(0.3); /* 30% of normal brightness */
    transition: filter 0.3s ease;
  }

  /* Rules Overlay */
.rules-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 1);
    width: 50%;
    max-width: 40%;
    padding: 23px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;

    opacity: 0;  
    pointer-events: none;       
    transition: opacity .3s ease; 
    z-index: 999;       
}

.rules-overlay h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700; 
    color: #fff;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.rules-overlay p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.rules-overlay hr {
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 1.5em 0;
  }

.rules-overlay ul {
    margin: 0; 
    padding: 0;         
    text-align: center;
}

.rules-overlay li {
    line-height: 2;
    list-style: none;
}

.rules-overlay.active {
    opacity: 1;         
    pointer-events: auto; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;


    background: transparent;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

/* Adjust styling */
.rules-overlay h2 {
    color: #fff;
    margin-top: 30px; 
}

.rules-overlay p,
.rules-overlay ul {
    color: #fff;
}


/* Main Game Page */
.main-container {
    display: none;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@media (max-width: 600px) {
    /* Adjust styles for mobile devices or smaller screens */
    .rules-overlay {
      width: 80%;           /* Make it wider relative to screen */
      padding: 10px;        /* Reduce padding if desired */
    }
  
    .overlayHeader {
      font-size: 50px;      /* Scale down for smaller screens */
    }
  
    button {
      width: 50%;           /* Make buttons more tappable */
      font-size: 1em;
    }
  }

  @media (max-width: 1261px) {
    .rules-overlay {
        max-width: 80%;
    }
  }